<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration
xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>

    <property name="proxyfactory.factory_class">
      NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle
    </property>

    <property name="dialect">
      NHibernate.Dialect.MsSql2008Dialect, NHibernate
    </property>

    <property name="connection.connection_string">
      Server=.\SQLExpress; Database=NHCookbook; Trusted_Connection=SSPI
    </property>
  </session-factory>
</hibernate-configuration>