<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="syscache"
             type="NHibernate.Caches.SysCache.SysCacheSectionHandler, 
                   NHibernate.Caches.SysCache" />
  </configSections>

  <connectionStrings>
    <add name="db" connectionString="Server=.\SQLExpress; Database=NHCookbook; Trusted_Connection=SSPI"/>
  </connectionStrings>

  <hibernate-configuration
    xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>

      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.Castle.ProxyFactoryFactory,
        NHibernate.ByteCode.Castle
      </property>

      <property name="dialect">
        NHibernate.Dialect.MsSql2008Dialect,
        NHibernate
      </property>

      <property name="connection.connection_string_name">
        db
      </property>

      <property name="adonet.batch_size">
        100
      </property>

      <property name="cache.provider_class">
        NHibernate.Caches.SysCache.SysCacheProvider, 
        NHibernate.Caches.SysCache
      </property>

      <property name="cache.use_second_level_cache">
        true
      </property>

      <property name="cache.use_query_cache">
        true
      </property>
      
      <mapping assembly="Eg.Core"/>

      <class-cache class="Eg.Core.Product, Eg.Core" 
                   region="hourly" usage="read-only"/>

      <class-cache class="Eg.Core.ActorRole, Eg.Core" 
                   region="hourly" usage="read-only"/>

      <collection-cache collection="Eg.Core.Movie.Actors" 
                        region="hourly" usage="read-only"/>
      
    </session-factory>
  </hibernate-configuration>

  <syscache>
    <cache region="hourly" expiration="60" priority="3" />
  </syscache>
  
</configuration>