<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Shard1" connectionString="Server=.\SQLExpress;Database=Shard1;Trusted_Connection=SSPI"/>
    <add name="Shard2" connectionString="Server=.\SQLExpress;Database=Shard2;Trusted_Connection=SSPI"/>
    <add name="Shard3" connectionString="Server=.\SQLExpress;Database=Shard3;Trusted_Connection=SSPI"/>
  </connectionStrings>
</configuration>